<%= css_design_awards_nominee_tag %>

<div class="white">
  <section class="wrap">
    <header>
      <h1><%= image_tag('logo.png') %>minimaList</h1>
    </header>
  </section>
  <section class="wrap cf">
    <div id="demo"></div>
    <div id="intro">
      <h2>
        A simple list app </br>
        <span>that's everywhere you are.</span>
      </h2>
      <%= image_tag 'try-me.png', :class => 'try-me' %>
      <div class="actions">
        <%= link_to "Make a list", new_list_url, :class => 'btn orange' %>
      </div>
    </div>
  </section>
</div>
<div id="features" class="wrap">
  <ul class="cf">
    <li>
      <h3>With you everywhere –</h3>
      <p>The internet makes your lists magically available anywhere. You can access them on your phone, tablet, or computer.</p>
    </li>
    <li>
      <h3>No need to log-in –</h3>
      <p>You don't need an account to use minimaList. Your lists will live at a special url so just bookmark that and you're good to go!</p>
    </li>
    <li>
      <h3>Even better on mobile –</h3>
      <p>This was made mobile-first, so although it's not in the App Store it supports touch gestures like swiping, dragging and tapping.</p>
    </li>
    <li>
      <h3>Simple, Shareable –</h3>
      <p>Anyone you share your link with can access your lists the same as you. Because some lists are better shared (and some are not).</p>
    </li>
  </ul>
</div>
<footer>
  <div class="wrap cf">
    <div class="right">
      <%= list_total %> Lists. <%= task_total %> Todos.
    </div>
    © 2012 Made by <a href='http://twitter.com/mshwery'>@mshwery</a>. <a class="twitter" href='http://twitter.com/get_minimalist' title="@get_minimalist"><%= image_tag('twitter.png') %></a>
  </div>
</footer>
