<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_tag 'window.listApp = {};' %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class.join(" ") %>">

<%= render "layouts/notifications" %>

<%= yield %>

</body>
</html>
