<!DOCTYPE html>
<html>
<head>
  <title>minimaList</title>
  <meta name="description" content="A simple, sharable list app that's everywhere you are. Easy to share, great on any device.">
  <meta name="author" content="@mshwery">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_tag 'window.listApp = {};' %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="/iphone.png" media="screen and (max-device-width: 320px)"/>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class.join(" ") %>">

  <%= render "layouts/notifications" %>

  <div id="load-screen" class="show"></div>

  <div id="app" class="hide">
    <%= render "sessions/log_in" %>
    <%= yield %>
  </div>

  <%= render "layouts/google-analytics" %>
</body>
</html>
